@media only screen and (max-width:400px){
    body{
      font-size:30px;
    }
  }
 nav{
    float: left;
    width: 30%;
    position: sticky;
 }
 table{
    border-collapse:collapse;

 }
 tr{
    border: 1px solid #ccc;
 }
 td{
    padding: 10px;
    text-align: left;
 }
 a{
    text-decoration: none;
 }